
<app-map [reports]="mapReports"
         (sendCoord)="getCoords($event)">
</app-map>

<mat-form-field appearance="fill">
    <mat-label>Sort By:</mat-label>
    <mat-select (selectionChange)="sortReportsBy($event)">
      <mat-option *ngFor="let s of sortOptions" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
</mat-form-field>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Person Reported</th>
            <th>Date of visit</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr app-report
        *ngFor="let r of reports"
        [report_input]="r"
        (delete)="onReportDeleted($event)"
        (seeMore)="onSeeMoreClicked($event)"
        >
        <tr>
    </tbody>
</table>

<div id="additionalDetails" style="visibility: hidden;">
    <table>
        <caption id="name"></caption>
        <thead>
            <tr>
                <th>Age</th>
                <th>Gender</th>
                <th>Tel.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <td id="age"></td>
            <td id="gender"></td>
            <td id="phoneNumber"></td>
            <td>
                <button (click)="closeDetails()">CLOSE</button>
            </td>
        </tbody>
    </table>
</div>

<app-report-form [newLat]="lat"[newLng]="lng" [newLocations]="locationOptions"></app-report-form>